/*for sections*/
.container-fluid {
  padding: 0 !important;
}

@font-face {
  font-family: Heebo;
  src: url(../fonts/Heebo/Heebo-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
.dark-bg {
  background-color: #f9f9f9 !important;
}

h2 {
  font-weight: 900;
}

a:hover {
  text-decoration: none !important;
}

section {
  text-align: center;
  color: #4d5c66;
  font-family: Heebo;
}
section p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
}
section button {
  background-color: transparent;
  padding: 10px 20px;
  color: #4d5c66;
  font-size: 15px;
  border: 1px solid #4d5c66;
}
section button:focus {
  outline: none;
}
section button:hover {
  color: #fff;
  background-color: #4d5c66;
  transition: 0.3s;
}

section:not(.header) {
  padding: 20px 0 20px 0;
  margin-bottom: 2em;
}

.orange-header {
  color: #d4af37;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

li.nav-item {
  text-transform: uppercase;
  padding: 0 5px;
}
li.nav-item a.nav-link {
  font-size: 18px;
}
li.nav-item a.nav-link:hover {
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 4em !important;
  font-size: 3em !important;
}

.header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
  height: 40em;
  color: #fff;
}

#header-index {
  /*section header*/
  background-image: url(../img/background-header.jpg);
}

#header-about {
  background-image: url(../img/background-header-about.jpg);
}

#header-blog {
  background-image: url(../img/blog-header.jpg);
}

header {
  background-color: rgba(60, 104, 125, 0.5);
  position: relative;
}
header .shown-header {
  width: 100%;
}
header a, header button {
  color: #fff;
}
header a.navbar-brand {
  font-family: Roboto;
  font-size: 25px;
}
header a.navbar-brand:hover {
  color: #fff;
}

#grid {
  margin: 3em 0 3em 0;
}
#grid .container {
  padding: 0;
}
#grid .row {
  margin: 0;
}
#grid .grid-item {
  padding: 0;
  position: relative;
  width: 100%;
}
#grid .grid-item img {
  width: 100%;
  height: 100%;
}
#grid .grid-item .black-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#grid span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  color: #fff;
  letter-spacing: 5px;
  font-size: 20px;
  text-align: center;
}

.hover-enter-active {
  transition: opacity 0.5s;
}

.hover-leave-active {
  transition: 0;
}

.hover-enter {
  opacity: 0;
}

.hover-leave-to {
  opacity: 1;
}

#cards {
  text-align: left;
}
#cards .personal-card {
  margin-bottom: 20px;
}
#cards .card-text {
  padding: 5px;
}
#cards a {
  color: inherit;
}
#cards h3 {
  font-size: 18px;
}
#cards img {
  overflow: hidden;
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center 0;
}

.last-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2em 0;
}
.last-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.last-post .last-post-text {
  padding: 2em;
  text-align: left;
}

#contact-us img {
  width: 100%;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2vw;
  padding: 1em;
}
.contacts h6 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.contacts p {
  margin: 0;
}

footer {
  color: #4d5c66;
  font-size: 14px;
  padding: 2em 0;
  text-align: center;
}
footer a {
  color: inherit;
}
footer ul {
  padding: 0;
}
footer li {
  display: inline;
}

#services {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  text-align: left;
}
#services img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#services .grid {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#services .services-text {
  padding: 2em;
}
#services li {
  list-style-type: none;
}
#services li::before {
  content: "-";
  margin-right: 10px;
}

.post {
  text-align: left;
  background-color: #fff;
  padding: 2em;
}
.post img {
  width: 100%;
}
.post .post-text {
  padding: 2em 0;
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr !important;
  }
}