@import "variables";
.container-fluid{
  padding: 0 !important;
}
@font-face{
  font-family: Heebo;
  src: url(../fonts/Heebo/Heebo-Regular.ttf);
}
@font-face{
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
.dark-bg{
  background-color: #f9f9f9 !important;
}
h2{
  font-weight: 900;
}
a{
  &:hover{
    text-decoration: none !important;
  }
}
section{
  text-align: center;
  color:$main-text-color;
  font-family: Heebo;
  p{
    font-size: 15px;
    line-height: 25px;
    font-weight: 200;
  }
  button{
    background-color: transparent;
    padding: 10px 20px;
    color:$main-text-color;
    font-size: 15px;
    border: 1px solid $main-text-color;
    &:focus{
      outline: none;
    }
    &:hover{
      color:#fff;
      background-color: $main-text-color;
      transition: .3s;
    }
  }
}
section:not(#header){
  padding: $section-paddings 0 $section-paddings 0;
  margin-bottom: $section-margins;
}
.orange-header{
  color:$orange-header-color;
  font-size: $orange-header-size;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
#header{ /*section header*/
  background-image: url(../img/background-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
  height: 40em;
  color:#fff;
  li{
    text-transform: uppercase;
    padding: 0 5px;
    a.nav-link{
      font-size: 18px;
      &:hover{
        color:#fff;
      }
    }
  }
  h1{
    text-align: center;
    margin-top: 4em;
    font-size: 3em;
  }
}
header{
  background-color: rgba(60, 104, 125, 0.5);
  position: relative;
  .shown-header{
    width: 100%;
  }
  a, button{
    color:#fff;
  }
  a.navbar-brand{
    font-family: Roboto;
    font-size: 25px;
    &:hover{
      color:#fff;
    }
  }
}
#grid{
  margin: 3em 0 3em 0;
  .container{
    padding: 0;
  }
  .row{
    margin:0;
  }
  .grid-item{
    padding: 0;
    position: relative;
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
    .black-wrapper{
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      background-color: rgba(0,0,0,0.5);
    }
  }
  span{
    position: absolute;
    width: 100%;
    top:50%;
    left: 0;
    color:#fff;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
  }
}
.hover-enter-active{
  transition: opacity .5s;
}
.hover-leave-active{
  transition: 0;
}
.hover-enter{
  opacity: 0;
}
.hover-leave-to{
  opacity: 1;
}
#cards{
  text-align: left;
  .personal-card{
    margin-bottom: 20px;
  }
  .card-text{
    padding: 5px;
  }
  a{
    color:inherit;
  }
  h3{
    font-size: 18px;
  }
  img{
    overflow: hidden;
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center 0;
  }
}
.last-post{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2em 0;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .last-post-text{
    padding: 2em;
    text-align: left;
  }
}
#contact-us{
  img{
    width: 100%;
  }
}
.contacts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2vw;
  padding: 1em;
  h6{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
  p{
    margin:0;
  }
}
footer{
  color:$main-text-color;
  font-size: 14px;
  padding: 2em 0;
  text-align: center;
  a{
    color:inherit;
  }
  ul{
    padding: 0;
  }
  li{
    display: inline;
  }
}
@media (max-width: 767px){
  .grid{
    grid-template-columns: 1fr !important;
  }
}
